<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 | 회원가입/로그인 구현</title>
  </head>
  <style>
   .back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border-radius: 15%;
    height: 300px;
    width: 300px;
   }
   h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
   }
   .a1 {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
   }
   .a2 {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
   }
  </style>    
  <body>
    <div class="back">
      <h1>실습38. 회원가입과 로그인 DB 연동</h1>
      <a class="a1" href="/user/signup">회원가입</a>
      <a class="a2" href="/user/signin">로그인</a>
    </div>
  </body>
</html>
